<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,intital-scale=1">
        <title>Contact Us</title>
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    </head>
    <body>
        <h1 class="h1">
            <p style="text-align: center;"> To Contact Us </p>
        </h1>

        <p class="p1" style="text-align: center;">
            <a href="mailto:zholly18@outlook.com">You can contact us at zholly18@outlook.com</a>
        </p>

        <p style="text-align: center;">
            Thanks for visiting our site, enjoy some fun facts.
        </p>
        <ul style="text-align: center;">
            {{#each facts}}
            <li style="text-align:center">{{this}}</li>
            {{/each}}
        </ul>
        <p style="text-align: center;"><a href="/">Return to home</a></p>  
    </body>
</html>