<!doctype html>
<html amp lang="en">

<head>
    <meta charset="utf-8">
    <title>Resources</title>
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link rel='stylesheet' href="styleNEI.css">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <script type="application/ld+json">

	</script>
    <style amp-boilerplate>
        body {
            -webkit-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -moz-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            -ms-animation: -amp-start 8s steps(1, end) 0s 1 normal both;
            animation: -amp-start 8s steps(1, end) 0s 1 normal both
        }

        @-webkit-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-moz-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-ms-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @-o-keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }

        @keyframes -amp-start {
            from {
                visibility: hidden
            }

            to {
                visibility: visible
            }
        }
    </style><noscript>
        <style amp-boilerplate>
            body {
                -webkit-animation: none;
                -moz-animation: none;
                -ms-animation: none;
                animation: none
            }
        </style>
    </noscript>
    <style amp-custom>
    </style>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <script async custom-element="amp-sidebar" src="https://cdn.ampproject.org/v0/amp-sidebar-0.1.js"></script>

</head>

<body>
    <header class="headerbar">
        <div role="button" on="tap:sidebar1.toggle" tabindex="0" class="hamburger">☰</div>
        <a href="/" class="site-name">Vesta Community</a>
    </header>
    <amp-sidebar id="sidebar1" layout="nodisplay" side="left">
        <div role="button" aria-label="close sidebar" on="tap:sidebar1.toggle" tabindex="0" class="close-sidebar">✕
        </div>
        <ul class="sidebar">
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/communities">Communities</a></li>
            <li><a href="/resources">Resources</a></li>
            <li><a href="/chat">User Chat</a></li>
            <li><a href="/Contact">Contact</a></li>
        </ul>
    </amp-sidebar>
    <div id='pageWrap'>
        <h1 id='head1'>
            <p style="text-align: center;"> Welcome to the Vesta resource<br</p> 
            <p style="text-align: center;"> page</p>
        </h1>
        <div id='map'></div>
        <p style="text-align: center;">Opening doors to new connections, interests, support, and beyond </p>
        <p style="text-align: center;"><strong></strong>Here are a list of websites to find new communities!<br></strong></p>
        <p style="text-align: center;"><a href="https://www.cdc.gov/">The CDC website has a bunch of great resources to learn more about preventation and how to keep everyone safe!<br></a></p>
        <p style="text-align: center;"><a href="https://www.who.int/">The World Health Organiztion allows you to view data about the on-going pandemic along with information on how to stay healthy!<br></a></p>
        <p style="text-align: center;"><a href="https://suicidepreventionlifeline.org/">Self isolatiing can take a toll on anyone and this is a resource to know you are never alone<br></a></p>
        <p style="text-align: center;"><a href="https://ncov2019.live/">Statistics are a great way to stay informed and understand what is going on and here you can find all the statistics you will need about covid-19</a></p>

    </div>

</body>

</html>